[Unit]
Description=Touch keyboard handler

[Service]
WorkingDirectory=/etc/touch_keyboard
ExecStartPre=-sh -c "echo 0 > /sys/class/pwm/pwmchip1/export"
ExecStartPre=sh -c "echo 0 > /sys/class/pwm/pwmchip1/pwm0/enable"
ExecStartPre=sh -c "echo 1 > /sys/class/pwm/pwmchip1/pwm0/enable"
ExecStart=/usr/sbin/touch_keyboard_handler
Type=simple

