name: Packages for Ubuntu

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Build Ubuntu packages
      run: dpkg-buildpackage -uc -us

    - name: Upload artifacts
      uses: actions/upload-artifact@v4
      with:
        name: dist-without-markdown
        path: |
          ../*.deb
          ../*.changes
          ../*.buildinfo
          ../*.tar.xz
          ../*.dsc
